<div class="container">
  <%= render "layouts/cloth_error" %>
  <div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
      <h3 class="text-center my-4" style="background: #000033; color:white;">衣類登録</h3>
      <%= form_with model: @cloth, url: cloths_path, method: :post, local: true do |f| %>
        <table class="table table-borderless mt-3">
          <tbody>
            <tr>
              <th><%= f.label "画像" %></th>
              <td><%= f.file_field :image, accept: "image/*", class: "form-control-Small-file input example" %></td>
            </tr>
            <tr>
              <th><%= f.label "名前" %></th>
              <td><%= f.text_field :name, placeholder: "衣類名", class: "form-control" %></td>
            </tr>
            </tr>
            <tr>
              <th><%= f.label "説明" %></th>
              <td><%= f.text_area :description, placeholder: "ここに説明文を記述します",class: "form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label "ジャンル" %></th>
              <td><%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "--選択してください--"},class: "form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label "収納先" %></th>
              <td><%= f.collection_select :storage_id, @storages, :id, :name, {include_blank: "--選択してください--"},class: "form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label "公開設定" %></th>
              <td><%= f.radio_button :privacy_status, Cloth.privacy_statuses.key(0) %>
                  <%= f.label :privacy_status, Cloth.privacy_statuses_i18n[:public], value: Cloth.privacy_statuses.key(0) %>
                  <%= f.radio_button :privacy_status, Cloth.privacy_statuses.key(1) %>
                  <%= f.label :privacy_status, Cloth.privacy_statuses_i18n[:private], value: Cloth.privacy_statuses.key(1) %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="col">
          <%= f.label "色" %>
          <%= f.collection_check_boxes :color_ids, Color.all, :id, :name do |color| %>
              <div class="form-check">
                <%= color.check_box class: "form-check-input" %>
                <%= color.label class: "form-check-label" do %>
                <%= color.text %>
          <% end %>
              </div>
              <% end %>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <%= f.submit "衣類投稿", class: "btn btn-success btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>