<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1 mt-5">
        <div class="d-flex align-items-end mb-3">
        <h2 class="m-0 font-weight-bold"><%= @storage.name %>の衣類一覧</h2>
        </div>

        <span class="ml-3">(全<%= @storage.cloths.count %>件)</span>

        <div class="row mt-3 mb-3 text-center text-xs-center text-sm-center text-md-left">
            <% @storage.cloths.each do |cloth|%>
              <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
                  <%= link_to cloth_path(cloth) do%>
                  <p class="img-wrap"><%= image_tag cloth.get_cloth_image(0, 0), width: "95", format: "jpeg", fallback: "no_image.jpeg" %></p>
                  <% end %>
                  <div class="card-body">
                  <p class="item-details item-name card-text font-weight-bold"><%= cloth.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>