<div class="container">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
          <div class="table-responsive">
            <table class="table table-borderless mt-3">
              <thead>
                <tr>
                  <h3 colspan="2" class="text-center p-3">＜管理者会員設定画面＞</h3>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= f.label "停止理由追記" %></td>
                  <td><%= f.text_area :introduction, class: "form-control description" %></td>
                </tr>
                <tr>
                  <td><%= f.label "User Status" %></td>
                  <td>
                    <div class="form-check form-check-inline">
                      <%= f.radio_button :is_deleted, false, class: "form-check-input" %>
                      <%= f.label :is_deleted, "有効", value: :false, class: "form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= f.radio_button :is_deleted, true, class: "form-check-input" %>
                      <%= f.label :is_deleted, "停止", value: :true, class: "form-check-label" %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-center">
            <div class="mb-3">
              <%= f.submit "確定", class: "btn btn-danger px-5" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>